<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Suitability</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding: 20px;">
    <p-card>

      Cliente : <b>Ronaldo Cappellesso</b> <br><br>

      <p-accordion>
        <p-accordionTab *ngFor="let item of formulario.perguntas; index as ip;">
          <ng-template pTemplate="header">
            <i class="pi pi-check-circle" style="padding-right: 10px; color: green;" *ngIf="suitability['q'+ip] >= 0 || suitability['q'+ip]"></i>
            {{ip+1}}. {{item.pergunta}}
          </ng-template>

          <div class="card" *ngIf="item.tipo === 'radio'">
            <div style="padding-bottom: 10px;" *ngFor="let item of item.alternativas; index as ia;">
              <p-radioButton [name]="'q'+ip" [value]="ia" [(ngModel)]="suitability['q'+ip]"
              [label]="item.resposta"></p-radioButton>
            </div>
          </div>

          <div class="card" *ngIf="item.tipo === 'check'">
            <div class="grid">
              <div class="col-6" style="padding-bottom: 10px;" *ngFor="let item of item.alternativas; index as ia;">
                <p-checkbox [name]="'q'+ip" [value]="ia" [(ngModel)]="suitability['q'+ip]"
                [label]="item.resposta"></p-checkbox>
              </div>
            </div>
          </div>

          <div class="card" *ngIf="item.tipo === 'input'">
            <div class="grid pt-2">
              <div  class="col-6 pb-4" *ngFor="let item of item.alternativas; index as ia;">
                <span class="p-float-label">
                  <input [id]="'q'+ip+'-'+ia" type="text" [(ngModel)]="suitability['q'+ip+'-'+ia]" pInputText [size]="item.size"/>
                  <label [for]="'q'+ip+'-'+ia">{{item.resposta}}</label>
                </span>
              </div>
            </div>
          </div>

          <div class="card p-3" *ngIf="item.tipo === 'list'">
            <span class="grid" *ngFor="let linha of [].constructor(item.quantidade); let ii = index">
              <span [class]="'col-'+l+' pr-4 pb-5'" *ngFor="let item of item.alternativas; index as ia; let l = count">
                <span class="p-float-label">
                  <input [id]="'q'+ip+'-'+ii+'-'+ia" type="text" [(ngModel)]="suitability['q'+ip+'-'+ii+'-'+ia]" pInputText [size]="item.size"/>
                  <label [for]="'q'+ip+'-'+ii+'-'+ia">{{item.resposta}}</label>
                </span>
              </span>
            </span>
            <button pButton type="button" iconPos="left" icon="pi pi-plus" label="Adicionar" class="p-button-raised" (click)="item.quantidade = item.quantidade + 1"></button>
            &nbsp;&nbsp;
            <button *ngIf="item.quantidade" pButton type="button" iconPos="left" icon="pi pi-minus" label="Remover" class="p-button-raised p-button-danger" (click)="item.quantidade = item.quantidade - 1"></button>
          </div>

        </p-accordionTab>
      </p-accordion>

      {{suitability | json}}

    </p-card>
  </div>
</ion-content>
