<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Suitability</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding: 20px;">
    <p-card>

      Cliente : <b>Ronaldo Cappellesso</b> <br><br>

      <p-accordion>
        <p-accordionTab *ngFor="let item of formulario.perguntas; index as ip;">
          <ng-template pTemplate="header">
            <ion-icon name="checkmark-circle-outline" style="padding-right: 10px; color: green;" *ngIf="suitability['q'+ip] >= 0 || suitability['q'+ip]"></ion-icon>
            {{ip+1}}. {{item.pergunta}}
          </ng-template>

          <div class="card" *ngIf="item.tipo === 'radio'">
            <div class="flex flex-row" style="padding-bottom: 10px;" *ngFor="let item of item.alternativas; index as ia;">
              <p-radioButton [name]="'q'+ip" [value]="ia" [(ngModel)]="suitability['q'+ip]"
              [label]="item.resposta"></p-radioButton>
            </div>
          </div>

          <div class="card" *ngIf="item.tipo === 'check'">
            <div class="flex flex-row" style="padding-bottom: 10px;" *ngFor="let item of item.alternativas; index as ia;">
              <p-checkbox [name]="'q'+ip" [value]="ia" [(ngModel)]="suitability['q'+ip]"
              [label]="item.resposta"></p-checkbox>
            </div>
          </div>

        </p-accordionTab>
      </p-accordion>

      {{suitability | json}}

    </p-card>
  </div>
</ion-content>
